 <h1>Current temp right now in {{location}}</h1>
            <p>current temp: <strong>{{temp}}&deg;C</strong></p>
            <p> the description of weather: {{des}}</p>
            <p>feels like: {{feelslike}}</p>
            <p>humidity: {{humidity}}</p>
            <p>pressure: {{press}}</p>
            <p>sea level: {{sea}}</p>
            <img src="https://openweathermap.org/payload/api/media/file/{{icons}}.png" width=100px height=100px>
    
      
    

    
   